/* style sheet for reddots */

.redDotAnimated a,
.foswikiToc .redDot {
  display:none;
}

.redDot {
  position:relative;
}
.redDot a {
  position:absolute;
  text-decoration:none;
  left:3px;
  padding:0px;
}
.redDotIconMode a:hover {
  background-color:transparent;
  color:#b22222;
}
.redDot .fa {
  font-size:16px;
}
.redDot a:hover {
  text-decoration:none !important;
}

