/* style sheet for reddots */

.redDotAnimated,
.foswikiToc .redDot {
  display:none;
}

.redDot {
  position:relative;
}
.redDot a {
  color:red;
  position:absolute;
  text-decoration:none;
  left:3px;
  padding:0px;
  display:inline-block !important;
  *zoom:1;
}
.redDotIconMode a:hover {
  background-color:transparent !important;
}
.redDot a:hover {
  text-decoration:none !important;
}

